<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>listado-noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let noticia of noticias; let indice = index;">
    <ion-card-header>
      <ion-card-subtitle>{{ noticia.descripcion }}</ion-card-subtitle>
      <ion-card-title>{{ noticia.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="verDetalle(noticia);">
      {{ noticia.contenido }}
      <p><strong>Fecha: </strong>{{ noticia.fecha | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Autor: </strong> {{ noticia.autor.nombre}} {{ noticia.autor.apellido }}</p>
    </ion-card-content>

    <ion-button color="danger" size="small" fill="clear" (click)="eliminarNoticia(noticia.noticiaID, indice);">Elminar</ion-button>    
    <ion-button color="primary" size="small" fill="clear" (click)="editarNoticia(noticia)">Editar</ion-button>    
  </ion-card>
</ion-content>